<div class="container">
  <h2>Product form</h2>
  <form
    class="card p-3"
    style="width: 420px;"
    method="POST"
    action="/productos"
  >
    <div class="form-floating mb-3">
      <input
        type="text"
        class="form-control"
        name="title"
        id="floatingTitle"
        placeholder="Title"
      />
      <label for="floatingTitle">Title</label>
    </div>
    <div class="form-floating mb-3">
      <input
        type="text"
        class="form-control"
        name="price"
        id="floatingPrice"
        placeholder="Price"
      />
      <label for="floatingPrice">Price</label>
    </div>
    <div class="form-floating mb-3">
      <input
        type="text"
        class="form-control"
        name="thumbnail"
        id="floatingThumbnail"
        placeholder="Thumbnail"
      />
      <label for="floatingThumbnail">Thumbnail</label>
    </div>
    <div class="d-grid gap-2">
      <input type="submit" class="btn btn-primary btn-lock" value="Save info" />
    </div>
  </form>
</div>