<div class="">
  <header
    class="d-flex flex-wrap justify-content-center bg-dark py-3 mb-4 border-bottom"
  >
    <a
      href="#"
      class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-white text-decoration-none"
    >
      <img
        class="bi me-2"
        src="https://symbols.getvecta.com/stencil_83/7_handlebars-icon.3059f489a2.png"
        width="40"
        height="32"
      />
      <span class="fs-4">Handlebars</span>
    </a>

    <ul class="nav nav-pills">
      <li class="nav-item"><a
          href="/productos"
          class="nav-link"
        >Products</a></li>
      <li class="nav-item"><a href="/" class="nav-link">Form</a></li>
    </ul>
  </header>
</div>